
.adventages__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--grey-bg-cl);
}

.advantades__title {
    color: var(--black-txt-cl);
    margin-bottom: 10px;
}