.social {
  --gap: 10px;

  &--fill-grey {
    transition: fill var(--animation);
    fill: var(--icons-cl);
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-bg-cl);
  border-radius: 50%;
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--main-bg-btn-cl);
  }

  &:hover .social--fill-grey,
  &:focus .social--fill-grey {
    fill: var(--white-txt-cl);
  }

  &:hover .join--fill-white,
  &:focus .join--fill-white {
    fill: var(--white-txt-cl);
  }
}
